<%= form_for [@user, @restaurant] do |form| %>
  <%= render "error", target: @comment %>
  <div>
    <%= form.label :content %>
    <%= form.text_area :body %>
  </div>
  <%= form.submit %>
<% end %>
