<%= form_for [@restaurant, @comment] do |form| %>
  <%= render "error", target: @comment %>
  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <%= form.submit "Add a Comment!" %>
<% end %>
